<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>qqeRefuwS7lIpWApxgpaJPkRy3cEvByPkTSSYUIyPbB3M8eAIc</string>
	<key>API Key</key>
	<string>TepJwbaZJUHlBo8tUUoD0JUjG</string>
</dict>
</plist>
